<!-- Voľné termíny -->
<div class="reservation-bar">
  <div class="first-row">
    <div *ngFor="let bar of timeFrames" class="repeat-segment">
      <div
        (click)="onBarClick(bar)"
        *ngIf="bar.reserved"
        [class]="bar.additionalClass"
        class="segment-full fullSize"
        tooltip="{{ bar.userSummary?.firstName }} {{ bar.userSummary?.lastName }} &lt;br> {{ bar.userSummary?.reservedStartTime | timeConverter }} - {{
          bar.userSummary?.reservedEndTime | timeConverter
        }}"
      ></div>
      <div *ngIf="!bar.reserved" class="segment-empty fullSize"></div>
    </div>
  </div>
  <div class="second-row">
    <div *ngFor="let frame of timeFrames" class="time-frame">
      <div *ngIf="frame.displayTime">{{ frame?.timeFrom | timeConverter }}</div>
    </div>
  </div>
</div>

<!-- <button mat-fab extended color="primary" (click)="test()">TEST</button> -->
