<div class="container">
  <div class="mat-cards-row">
    <mat-card class="inputs-card">
      <basic-info [reservationParams]="reservation"></basic-info>
    </mat-card>

    <mat-card class="calendar-card">
      <visit-reasons [reservationParams]="reservation"></visit-reasons>
    </mat-card>

    <mat-card class="calendar-card">
      <datetime [reservationParams]="reservation" (onDateSelected)="onDateSelected($event)"></datetime>
    </mat-card>

    <mat-card class="summary-card">
      <summary [reservationParams]="reservation" (onSubmitButtonTrigger)="onOrder()"></summary>
    </mat-card>

    <!-- <mat-card class="routing-card">
      <div>
        <button mat-flat-button color="primary" (click)="navigateToWeeklyOverview()">Dnešné rezervácie</button>
      </div>
    </mat-card> -->
  </div>

  <reservation-bar [reservations]="reservationsForDate" (onUserDetail)="onUserDetail($event)"></reservation-bar>
</div>

<!-- <p (click)="test()">Selected date: {{ date }}</p> -->
