mat-card {
  width: 100%;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;

  .mat-cards-row {
    display: flex;
  }
}

.calendar-card {
  padding: 10px;
}

reservation-bar {
  margin-top: 10px;
}

.inputs-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.summary-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
