<div class="container">
  <div class="searchBar">
    <mat-form-field>
      <input matInput placeholder="Hľadaný výraz" [(ngModel)]="searchPhrase" (keydown.enter)="onEnterPressed()" />
    </mat-form-field>

    <button mat-fab matTooltip="Primary" color="primary" (click)="search()">
      <mat-icon>search icon</mat-icon>
    </button>
  </div>

  <mat-checkbox [(ngModel)]="onlyNewReservations">Zobraziť iba rezervácie od dnešného dátumu</mat-checkbox>
  <div class="border"></div>
  <mat-selection-list #res [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <div *ngFor="let reservation of reservations">
      <mat-list-option [value]="reservation">
        <div class="list-item-content">
          <div class="first-row">
            <div matListItemTitle class="title">{{ reservation.firstName }} {{ reservation.lastName }}</div>
            <div matListItemLine>{{ reservation.email }}</div>
          </div>
          <div matListItemLine>{{ reservation.reservedDate.date | date : 'dd.MM.yyyy' }} o {{ reservation.reservedStartTime | timeConverter }}</div>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zavrieť</button>
  <button mat-button (click)="selectReservation()" cdkFocusInitial>Vybrať</button>
</mat-dialog-actions>
